/********************************/
/* GLOBAL STYLES */
/********************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat Alternates, sans-serif;
	line-height: 1;
    background-color: #9C89FF;
}

/********************************/
/* HEADER SECTION */
/********************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    padding: 0 4.8rem;
    background-color: #541675;
}

.logo {
    height: 18rem;
}
/********************************/
/* NAVIGATION SECTION */
/********************************/

.main-nav-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    border-radius: 5.5px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #C4FeFF;
    transition: all 0.3s;
}

.main-nav-link.outline-cta:link,
.outline:visited {
    /* Trick to add border inside */
    box-shadow: inset 0 0 0 3px #9C89FF;
}

.main-nav-link.outline-cta:hover,
.outline-cta:active {
    background-color: #7E3887;
}

/********************************/
/* HERO SECTION */
/********************************/

.section-hero {
    padding: 9.6rem 0;
}

.hero-background {
    left: 0px;
    width: 100%;
    min-height: 500px;
    background: linear-gradient(134deg, #C4FEFF, #99CCED 99%);
    transform: skewY(-3deg);
    z-index: -1;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.hero-text {
    align-items: center;
    flex: 1;
}

.heading-primary {
    margin: 0 auto 3.2rem;
    font-size: 7.4rem;
    color: #541675;
}

.heading-primary span {
    font-size: 4.8rem;
    color: #7E3887;
}

.hero-description {
    font-size: 2rem;
    color: #7E3887;
    width: 800px;
}

.headshot {
    height: 450px;
    border-radius: 20px;
    margin: 1rem;
    padding: 3px;
    border: 5px solid #9C89FF;
}

/********************************/
/* ABOUT ME SECTION */
/********************************/

.about {
    padding: 1rem 6rem;
    background: linear-gradient(134deg, #C4FEFF, #99CCED 99%);
}

.about h2 {
    margin-bottom: 0.5rem;
    text-align: center;
    color: #541675;
    font-size: 3rem;
}

.about p {
    line-height: 1.7rem;
    color: #7E3887;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

/********************************/
/* PROJECTS SECTION */
/********************************/

.projects {
    background: linear-gradient(134deg, #C4FEFF, #99CCED 99%);
    padding: 32px 0;
    margin-top: 5.5rem;
}

.project-pic {
    height: 250px;
    width: 300px;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
    color: #541675;
    font-size: 3rem;
}

.project-container {
    text-align: center;
    width: 350px;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: 0.5rem;
    color: #541675;
    font-size: 1.75rem;
}

.project-details {
    margin-bottom: 0.5rem;
    color: #7E3887;
    font-size: 1.25rem;
}

.project-card {
    background-color: #99CCED;
    border-radius: 11px;
    box-shadow: 0 3px 10px #541675;
    padding: 20px;
    margin: 10px;
}

/********************************/
/* QUOTE SECTION */
/********************************/


.section-quote {
    display: flex;
    flex-direction: column;
    height: 400px;
    background: linear-gradient(134deg, #C4FEFF, #99CCED 99%);
    align-items: center;
    padding: 5em;
    margin-top: 5.5em;
}

.quote {
    font-size: 3rem;
    font-style: italic;
    font-weight: lighter;
    color: #7E3887;
    max-width: 1000px;
}

.author {
    font-size: 1.25rem;
    font-weight: bold;
    color: #541675;
    margin-left: 20em;
    margin-top: 1.5rem;
}

/********************************/
/* CONTACT SECTION */
/********************************/

.midcontainer3 {
    width: 100%;
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.cta{
    width: 1500px;
    height: 200px;
    background-color: #64009e;
    border-radius: 25px;
}

.cta-head {
    color: white;
    font-size: 36px;
    margin-top: 50px;
    margin-left: 180px;
}

.cta-body {
    color: white;
    font-size: 24px;
    margin-left: 180px;
    font-weight: lighter;
}

.download {
    background-color: #64009e;
    border: 2px solid white;
    color: white;
    font-size: 30px;
    margin-left: 38em;
    padding: 12px;
    border-radius: 15px;
}

.download:hover {
    background-color: white;
    color: #64009e;
    border: 2px solid #64009e;
    border-radius: 15px;
}

/********************************/
/* FOOTER SECTION */
/********************************/

.bottomcontainer {
    background-color: #64009e;
    display: flex;
    color: #99CCED;
}

.footer {
    text-align: center;
    height: 50px;
    width: 100%;
    align-items: center;
    padding-top: 14px;
}