/********************************/
/* GLOBAL STYLES */
/********************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat Alternates, sans-serif;
	line-height: 1;
    background-color: #9C89FF;
}

/********************************/
/* NAVIGATION SECTION */
/********************************/

nav {
    display: flex;
    height: 9rem;
    min-height: 70px;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: #9C89FF;
}

nav a {
    color: #99CCED;
    transition: 0.3s;
}

nav a:hover {
    color: #7E3887;
    border-bottom: 2px solid #7E3887;
}
nav ul {
    display: flex;
    gap: 1.9rem;
    list-style: none;
}

nav ul li {
    font-weight: 700;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #C4FEFF;
}

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navigation {
        position: fixed;
        left: -100%;
        top: 120px;
        gap: 0;
        flex-direction: column;
        background-color: #9C89FF;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    main-nav-link {
        margin: 16px 0;
    }

    .navigation.active {
        left: 0;
    }
}

.logo {
    height: 15rem;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    border-radius: 5.5px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #C4FeFF;
    transition: all 0.3s;
}

.main-nav-link.outline-cta:link,
.outline:visited {
    /* Trick to add border inside */
    box-shadow: inset 0 0 0 3px #9C89FF;
}

.main-nav-link.outline-cta:hover,
.outline-cta:active {
    background-color: #7E3887;
}

/********************************/
/* HERO SECTION */
/********************************/

.section-hero {
    padding: 9.6rem 0;
}

.hero-background {
    left: 0px;
    width: 100%;
    min-height: 500px;
    background: linear-gradient(134deg, #C4FEFF, #9C89FF 99%);
    transform: skewY(-3deg);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.hero-text {
    align-items: center;
    flex: 1;
}

.heading-primary {
    margin: 0 auto 3.2rem;
    font-size: 5rem;
    color: #541675;
}

.heading-primary span {
    font-size: 3.25rem;
    color: #7E3887;
}

.hero-description {
    font-size: 1.75rem;
    color: #7E3887;
    width: 800px;
}

.headshot {
    height: 450px;
    border-radius: 20px;
    margin: 1rem;
    padding: 3px;
    border: 5px solid #541675;
}

@media(max-width: 768px) {
    .section-hero {
        padding: 4rem 0;
    }

    .hero-background {
        max-width: auto;
        background: linear-gradient(134deg, #C4FEFF, #99CCED 99%);
        transform: none;
    }

    .hero {
        vertical-align: top;
        display: inline-block;
        text-align: center;
        padding: auto;
    }

    .headshot {
        width: 200px;
        height: auto;
    }

    .heading-primary {
        font-size: 2.5rem;
        margin: 0 auto 1.8rem;
    }
    
    .heading-primary span {
        font-size: 1.75rem;
    }
    
    .hero-description {
        font-size: 1.25rem;
        width: 300px;
    }
}

@media(max-width: 420px) {
    .hero-background {
        max-width: auto;
    }
    
    .hero-description {
        font-size: 0.75rem;
        width: 250px;
    }

    .heading-primary {
        font-size: 1.5rem;
    }

    .heading-primary span {
        font-size: 1.25rem;
    }
}

/********************************/
/* ABOUT ME SECTION */
/********************************/

.about {
    padding: 1rem 6rem;
    background: linear-gradient(134deg, #C4FEFF, #99CCED 99%);
}

.about h2 {
    margin-bottom: 0.5rem;
    text-align: center;
    color: #541675;
    font-size: 3rem;
}

.about p {
    line-height: 1.7rem;
    color: #7E3887;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

@media(max-width: 768px) {
    .about {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }

    .about h2 {
        text-align: center;
    }

    .about p {
        text-align: justify;
    }
}

/********************************/
/* PROJECTS SECTION */
/********************************/

.projects {
    background: linear-gradient(134deg, #C4FEFF, #99CCED 99%);
    padding: 32px 0;
    margin-top: 5.5rem;
}

.project-pic {
    height: 250px;
    width: 300px;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
    color: #541675;
    font-size: 3rem;
}

.project-container {
    text-align: center;
    width: 350px;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: 0.5rem;
    color: #541675;
    font-size: 1.75rem;
}

.project-details {
    margin-bottom: 0.5rem;
    color: #7E3887;
    font-size: 1.25rem;
}

.project-card {
    background-color: #99CCED;
    border-radius: 11px;
    box-shadow: 0 3px 10px #541675;
    padding: 20px;
    margin: 10px;
}

@media(max-width: 768px) {
    .projects-container {
        flex-direction: column;
    }
}


@media(max-width: 576px) {
    .project-container {
        width: 15rem;
    }

    .project-pic {
        width: 13.5rem;
        height: 13.5rem;
    }

    .project-title {
        font-size: 1.5rem;
    }

    .project-details {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.75rem;
    }
}

/********************************/
/* QUOTE SECTION */
/********************************/

.section-quote {
    display: flex;
    flex-direction: column;
    height: 400px;
    max-height: fit-content;
    background: linear-gradient(134deg, #C4FEFF, #99CCED 99%);
    align-items: center;
    padding: 5em;
    margin-top: 5.5em;
}

.quote {
    font-size: 3rem;
    font-style: italic;
    font-weight: lighter;
    color: #7E3887;
    max-width: 1000px;
}

.author {
    font-size: 2rem;
    font-weight: bold;
    color: #541675;
    margin-left: 20em;
    margin-top: 1.5rem;
}

@media(max-width: 768px) {
    .section-quote {
        height: auto;
    }

    .quote {
        font-size: 1.5rem;
    }

    .author {
        font-size: 1rem;
    }
}

/********************************/
/* CONTACT SECTION */
/********************************/

.contact {
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    color: #541675;
    font-size: 3rem;
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px #541675;
    background: linear-gradient(134deg, #C4FEFF, #99CCED 99%);
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: 700;
    color: #541675;
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px solid #541675;
    font-size: 0.875rem;
    outline: none;
    padding-left: 0.5rem;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: #541675;
}

.submit-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: linear-gradient(134deg, #C4FEFF, #99CCED 99%);
    border: 2px solid #541675;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s;
    color: #541675;
}

.submit-button:hover {
    background: #541675;
    border: 2px solid #541675;
    cursor: pointer;
    color: #99CCED;
}

@media(max-width: 767px) {
    .contact-form-container{
        max-width: 23.75rem;
    }

    .contact h2 {
        font-size: 1.75rem;
    }
}

@media(max-width: 420px) {
    .contact-form-container {
        max-width: 17.75rem;
    }

    .contact h2 {
        font-size: 1.25rem;
    }
}
/********************************/
/* FOOTER SECTION */
/********************************/

footer {
    text-align: center;
    background-color: #541675;
    padding: 1.25rem;
    margin: 2rem 0 0;
    color: #99CCED;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 4rem;
    height: 4rem;
}

@media(max-width: 768px) {
    .up-arrow {
        width: 3rem;
        height: 3rem;
    }
}